




<form  action="/animals" method="POST">
  <h2>Add an Animal</h2>

  <label for="name">Name:</label>
  <input required type="text" id="name" name="name">
<br>
  <label for="adopt-status">Adoption Staus - Adoptable:</label>
  <input  required type="radio" id="adopt-status" name="adopt_status" value="Adoptable">
  <label for="adopt-status">  Not Adoptable:</label>
  <input  required type="radio" id="adopt-status" name="adopt_status" value="Not adoptable">
  <br>
  <label for="type">Type:</label>
  <input required type="text" id="type" name="type">
  <br>
  <label for="breed">Breed:</label>
  <input required type="text" id="breed" name="breed">
  <br>
  <label for="admis-date">Admission Date:</label>
  <input required type="text" id="admis-date" name="admis_date">
  <br>
  <label for="good-with-kids">Good with Kids:</label>
  <input required type="text" id="good-with-kids" name="good_with_kids">
  <br>
  <label for="good-with-other-pets">Good with other pets:</label>
  <input required type="text" id="good-with-other-pets" name="good_with_other_pets">
<br>
  <label for="need-attention">Needs Attention:</label>
  <input required type="text" id="need-attention" name="need_attention">
<br>

<input type="submit" value="Add an Animal">

</form>
