<form action="/animals" method="POST">

  <label for="name">Name:</label>
  <input required type="text" id="name" name="name">

  <label for="adopt-status">Adoption Staus:</label>
  <input required type="text" id="adopt-status" name="adopt_status">

  <label for="type">Type:</label>
  <input required type="text" id="type" name="type">

  <label for="breed">Breed:</label>
  <input required type="text" id="breed" name="breed">

  <label for="admis-date">Admission Date:</label>
  <input required type="text" id="admis-date" name="admis_date">

  <label for="good-with-kids">Good with Kids:</label>
  <input required type="text" id="good-with-kids" name="good_with_kids">

  <label for="good-with-other-pets">Good with other pets:</label>
  <input required type="text" id="good-with-other-pets" name="good_with_other_pets">

  <label for="need-attention">Needs Attention:</label>
  <input required type="text" id="need-attention" name="need_attention">


<input type="submit" value="Add an Owner">

</form>
