<div class="headers">
<h2>Our Owners with Adopted Animals</h2>
</div>
<div class="headers">
<hr />
<% for adoption in @adoptions %>
  <p>Date of Adoption: <%= adoption.adoption_date() %> </p>
  <p>Owner name: <%= adoption.owner().name %> </p>
  <p>Animal name: <%= adoption.animal().name %> </p>

  <form action="/adoptions/<%=adoption.id%>/delete" method="POST">
  <input type="submit" value="Delete Adoption">
  </form>

  <hr />

<% end %>

</div>

<hr>
