<h3>Our Owners with Adopted Animals</h3>
<hr />
<% for adoption in @adoptions %>
  <p>Date of Adoption: <%= adoption.adoption_date() %> </p>
  <p>Owner name: <%= adoption.owner().name %> </p>
  <p>Animal id: <%= adoption.animal_id() %> </p>
  <p><a href="/adoptions/<%= adoption.id %>">Details of Our Adoptions</a></p>
  <hr />
<% end %>
