<div class= "headers">
  <h2>About Us - Inspiring Story</h2>
  
  <p>"If you have picked up after a man you can look after an animal". The mother of the man who founded this
    this great company used to mutter. Mr Dylan established the Shelter
  back in 2011. He was quietly spray painting his tag name on Edinburgh castle when it came
to him that cats,dogs and other furry beasts need a voice in this world. The shelter is a beacon of hope
to all creatures that for many years have had to go through the humiliation of doing their dirty buisness outside without cover or the simple pleasure of 3 layered bog roll.
The times has called him "Mr Dylan is a smelly,hairy slebbering beasts best friend"
 </p>

  <img src="/images/blonde-dog.jpg" alt="dog" style= "width: 520px; height: 400px;">
</div>
