<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/images/puppy-dog.jpg" />
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <title>Dylan's Shelter From The Storm</title>

</head>
<body>
  <div class="title">


  <h1>Mr Dylan's - Shelter From The Storm</h1>

  </div>


  <div class="headers">
  <nav>
    <ul>
    <li><a href="/home">Home</a></li>
      <li><a href="/animals">All Animals</a></li>
      <li><a href="/animals/new">Add an Animal</a></li>
      <li><a href="/owners">All Owners</a></li>
      <li><a href="/owners/new">Add an Owner</a></li>
      <li><a href="/adoptions">Owners with Adopted Animals</a></li>
    </ul>
  </nav>
</div>


  <%= yield %>
<br>
    <footer>&copy; Copyright 2019 Shelter from the Storm</footer>


</body>
</html>
