body {
  background: black url('/images/puppy-dog.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: right;
  color: black;
  font-family: fantasy, sans-serif;
  padding: 60px;
  margin: 10px;
}
a:hover, a:active, a:focus {
  color: #c6e2ff;
}



h1 {
  color: black;
  margin: 150px;
  font-family: monospace;
}

li {

  font-family: fantasy;
  color: black;


  /* text-align: center; */
  /* flex-wrap: wrap; */
  /* padding: 14px 16px; */



}

a {

  font-family: fantasy;
  color: black;
  font-size: 1.2em;
  /* display:block; */
  padding: 8px;


}

.headers{
  background-color: ghostwhite;
  margin: 100px;
  flex-direction: column;

}
.title{
  background-color: ghostwhite;
  margin: 5px;
  padding-left: 10px;
  text-decoration: underline;
  text-shadow: bold;
  text-align:justify;
  font-size: 1.2em;



}
/*

}
a, a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: black;
} */

nav {
  padding: 0px;
  margin: 0px;

}

nav li {
  display:inline;
  margin-bottom: 10px;
  text-transform: none;
  text-align: justify;
  /* flex-direction: row; */
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

/* main {
  padding: 25px;
} */

/* .flex {
  display: flex;
}

.flex--row {
  flex-direction: row-reverse;
} */
h2{
  font-size: 1.7em;
}

.animal-container {
  display: flex;
  flex-direction: column;
  width: min-content;

  height:min-content;
  background-color: wheat;

}
.ownform{
  background-color: ghostwhite;
  margin: 100px;
  flex-direction: column;
}
