body {
  background: aqua url('/images/puppy-dog.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: right;
  color: black;
  font-family: fantasy, sans-serif;
  padding: 50px;
  margin: 100px;
}
a:hover, a:active, a:focus {
  color: #c6e2ff;
}



h1 {

  color: black;
  margin: 150px;
  font-family: monospace;
}

li {

  font-family: fantasy;
  color: black;
  float: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 14px 16px;


}

a {

  font-family: fantasy;
  color: black;
  font-size: 1.2em;

}

.headers{
  background-color: ghostwhite;
  margin: 200px;

}
.title{
  background-color: ghostwhite;
  margin: 5px;
  padding-left: 10px;
  text-decoration: underline;
  text-shadow: bold;
  text-align:justify;
  font-size: 1.2em;



}
/*

}
a, a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: black;
} */

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: none;
  flex-direction: row;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 25px;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row-reverse;
}
h2{
  font-size: 1.7em;
}
