<form action="/customers" method="POST">

  <label for="name">Name:</label>
  <input required type="text" id="name" name="name">

  <label for="address">Address:</label>
  <input required type="text" id="address" name="address">
