
<form action="/owners" method="POST">

  <label for="name">Name:</label>
  <input required type="text" id="name" name="name">
<br>
  <label for="address">Address:</label>
  <input required type="text" id="address" name="address">
<br>
  <label for="suitablity">Suitablity:</label>
  <input required type="text" id="suitablity" name="suitablity">
<br>
  <label for="has-kids">Has Kids:</label>
  <input required type="text" id="has-kids" name="has_kids">
<br>
  <label for="has-other-pets">Has other pets:</label>
  <input required type="text" id="has-other-pets" name="has_other_pets">
<br>
  <label for="give-attention">Can give attention:</label>
  <input required type="text" id="give-attention" name="give_attention">
<br>

<input type="submit" value="Add an Owner">

</form>
