<form action="/owners" method="POST">

  <label for="name">Name:</label>
  <input required type="text" id="name" name="name">

  <label for="address">Address:</label>
  <input required type="text" id="address" name="address">

  <label for="suitablity">Suitablity:</label>
  <input required type="text" id="suitablity" name="suitablity">

  <label for="has_kids">Has Kids:</label>
  <input required type="text" id="has_kids" name="has_kids">

  <label for="has_other_pets">Has other pets:</label>
  <input required type="text" id="has_other_pets" name="has_other_pets">

  <label for="give_attention">Can give attention:</label>
  <input required type="text" id="give_attention" name="give_attention">


<input type="submit" value="Add an Owner">

</form>
