body {
  background: red url('/images/puppy-dog.jpeg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: right;
  color: black;
  font-family: 'Trebuchet', sans-serif;
  padding: 0px;
  margin: 200px;
}
